# Dependencies
node_modules/
.pnp
.pnp.*

# Build output
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/
src-tauri/WixTools/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json
.idea/

# Env
.env
.env*.local

# Tests
coverage/
